<div class="container">
  <div style= class="mt-10 p-10">
    <form action="/answer">
      <h2 class="display-4 mt-5 mb-3" style="font-size: 48px; color: #383838;">Ask your coach for something...</h2>
  <div class= "d-flex align-items-center">
      <input class="form-control" style="height: 35px" type="text" name="question">
      <input class="btn btn-primary mb-1" style="width: 100px; height: 35px" type="submit" value="Ask!">
    </form>
  </div>
  </div>
</div>
