<div class="container">
  <div style= class="mt-10 p-10">
    <form action="/answer">
      <h2 class="display-4 mt-5 mb-3" style="font-size: 48px; color: #383838;">Ask your coach for something...</h2>
  <div class= "d-flex align-items-center">
      <input class="form-control" style="height: 35px" type="text" name="question">
      <input class="btn btn-primary mb-1" style="width: 100px; height: 35px" type="submit" value="Ask!">
    </form>
  </div>
  </div>
</div>

<dir class="p-10">
  <h3  class="display-4 mt-5 mb-3 align-items-center" style="font-size: 32px; color: #383838;">What can I ask?</h3>
  <ul>
    <li>Ask Questions</li>
    <li>Say Whatever you want</li>
    <li>Tell him "I'm going to work!" (he likes that)</li>
  </ul>
</dir>
